body {
    font-family: "Outfit";
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-color: #1D1D1D;
}

/* MENU */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5%;
    height: 70px;
    background-color: #212121;
    border-bottom: 1px solid #E63946;
}

nav img {
    height: 100px;
    width: 100px;
}

nav ul a {
    color: #F1FAEE;
    text-decoration: none;
    transition: all 0.3s ease;
}

nav ul a:hover {
    color: #FFFFFF;
    text-shadow: 0 0 2px #FFFFFF;
}

.menu-center {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.menu-center ul {
    display: flex;
    font-size: 18px;
    gap: 20px;
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu-right {
    display: flex;
    align-items: center;
    gap: 20px;
}

.menu-right ul {
    font-size: 18px;
    display: flex;
    align-items: center;
    gap: 20px;
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu-right button {
    font-size: 18px;
    height: 40px;
    width: 140px;
    border-radius: 10px;
    border-style: none;
    background-color: #E63946;
}

.menu-right button:hover {
    transition: all 0.3s ease;
    color: #FFFFFF;
    background-color: #F3722C;
}

.divider {
    height: 50px;
    width: 1px;
    background-color: #E63946;
}

/* ----------------------- */

.main-content {
    height: 89vh;
    width: 100%;
    background-image: url(../assets/gifs/ryu-ken-1.gif);
    filter: blur();
    background-repeat: no-repeat;
    background-size: cover;
}

.main-content button {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Outfit";
    font-size: 30px;
    border-radius: 10px;
    border-style: none;
    background-color: #E63946;
    height: 15vh;
    width: 30%;
    cursor: pointer;
}

.main-content button:hover {
    transition: all 0.2s ease;
    color: #FFFFFF;
    background-color: #ff0000;
    scale: 1.1;
}

.main-content button:hover img{
    transition: all 0.3s ease;
    transform: rotate(30deg);
    scale: 1.1;
}

.main-content button a{
    text-decoration: none;
    color: #F1FAEE;
}

.logo-home {
    height: 60vh;
    width: 30%;
}

.icon-punch-button {
    vertical-align: middle;
    height: 60px;
    width: 60px;
}

.overlay {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}